<a class="back-url" [routerLink]="['../']" >Regresar</a>
<section *ngIf="($team | async) as team" class="team">
    <img *ngIf="!team.strTeamBanner" class="team-badge" [src]="team.strTeamBadge" alt="strTeamBadge" >
    <img *ngIf="team.strTeamBanner" class="team-banner" [src]="team.strTeamBanner" alt="strTeamBanner" >
    <div class="team-detail">
        <div class="team-hero">
            <div class="hero">
                <div>
                    <h3 >{{team.strTeam}}</h3>
                    <p >Formado en <strong>{{team.intFormedYear}}</strong></p>
                    <p >Pais <strong>{{team.strCountry}}</strong></p>
                </div>
                <img [src]="team.strTeamJersey" alt="strTeamJersey" >
            </div>
            <div class="social">
                <a *ngIf="team.strFacebook" class="social-link facebook" href="https://{{team.strFacebook}}" target="_blank"></a>
                <a *ngIf="team.strTwitter" class="social-link twitter" href="https://{{team.strTwitter}}" target="_blank"></a>
                <a *ngIf="team.strInstagram" class="social-link instagram" href="https://{{team.strInstagram}}" target="_blank"></a>
                <a *ngIf="team.strWebsite" class="social-link web" href="https://{{team.strWebsite}}" target="_blank"></a>
                <a *ngIf="team.strYoutube" class="social-link youtube" href="https://{{team.strYoutube}}" target="_blank"></a>
            </div>
        </div>
        <p class="team-description">{{team.strDescriptionEN}}</p>
        <p *ngIf="team.strDescriptionES" class="team-description">Español: {{team.strDescriptionES}}</p>
    </div>
    <div class="team-carrousel">
        <img *ngIf="team.strTeamFanart1" [src]="team.strTeamFanart1" alt="strTeamFanart1" >
        <img *ngIf="team.strTeamFanart2" [src]="team.strTeamFanart2" alt="strTeamFanart2" >
        <img *ngIf="team.strTeamFanart3" [src]="team.strTeamFanart3" alt="strTeamFanart3" >
        <img *ngIf="team.strTeamFanart4" [src]="team.strTeamFanart4" alt="strTeamFanart4" >
    </div>
    <img  *ngIf="team.strTeamLogo" [src]="team.strTeamLogo" alt="strTeamLogo" >
</section>


